body {
  margin: 0;
  font-family: sans-serif;
}

.field {
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    to bottom,
    #228B22,
    #228B22 40px,
    #1e1a1e 40px,
    #1e7a1e 80px
  );
  position: relative;
  cursor: crosshair;
  border: 5px solid white;
}